* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 10px;
}
body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
  }
header
{
    background-color:rgb(23 ,113 ,101);
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
nav ul
{
    display: flex;
    gap:4rem;
    list-style: none;
}
ul a
{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A4D6CF;
}
.header_icons
{
    display: flex;
    gap: 4rem;
}
.lang_view p
{
    color:white;
    text-align: center;
}
.garden
{
    display: flex;
    justify-content: space-between;
    background-color:rgb(23 ,113 ,101);
    padding: 0 15rem;
    flex-wrap: wrap;
    overflow: visible;
    position: relative;
}
.content
{
    padding-top:10rem ;
    padding-bottom: 10rem;
}
.custom-line-text {
    display: flex;
    align-items: center;
    color: #A4D6CF;
    font-size: 1.7rem;

  }
  .custom-line-text .line {
    width: 4rem;
    height: 1px;
    background-color: #D2ECE9;
    margin-right: 1rem;
  }
  h1{
    margin-top: 3rem;
    font-size: 6rem;
    line-height: 7.8rem;
    color:white;
    width: 31.6vw;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .garden img
  {
    width: 38.2vw;
    height: fit-content;
    margin-top: -10rem;
    transform: translateY(20%);
  }
  .button
  {
    height: 4.4rem;
    background: #FFFFFF;
    border-radius: 0px;
    width: fit-content;
    font-weight: 400;
    font-size: 1.6rem;
    color: #177165;
    line-height: 2.6rem;
    padding: 0 5.8rem;
    display: flex;
    align-items:center;
    margin-top: 7rem;
  }
  .experience
  {
    margin: 0 15rem;
    margin-top: 22rem;
  }
  .custom-line-text2 {
    display: flex;
    align-items: center;
    color: #777;
    font-size: 1.7rem;

  }
  .custom-line-text2 .line {
    width: 4rem;
    height: 1px;
    background-color: #777;
    margin-right: 1rem;
  }
  h2
  {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
  .experience h2
  {
    color: #177165;
    margin-top: 2rem;
    width: 69vw;
  }
  .exp_info
  {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
  }
  h3
  {
    font-size: 3.2rem;
    line-height: 3.52rem;
  }
  p
  {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  h4
  {
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 400;
  }
  .experience h3
  {
    color:#177165;
  }
  .experience h4
  {
    color:#177165;
    width: 32.15vw;
    margin-bottom: 3.8rem;
  }
  .experience p
  {
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
    width: 32.15vw;
  }
  .experience .button
  {
    border: 2px solid #177165;
    margin-top: 8rem;
  }
  .experience img
  {
    width: 38.68vw;
    height: fit-content;
  }